<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escaneo de Red</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Escaneo de Red - Mi Red</h1>
        <h2 class="text-center">Rango de IP: 10.72.2.0-9</h2>
        <div class="text-center">
            <button class="btn btn-primary" id="scan-button">Iniciar Escaneo</button>
        </div>
        <div id="loading-indicator" class="loader mx-auto my-3" style="display: none;"></div>
        <div id="alert-container" class="alert alert-info mt-3" style="display: none;"></div>
        <div id="network-status" class="my-4"></div>
        <div id="port-status" class="my-4"></div>
        <div id="network-table-container" class="dash-table-container my-4"></div>
        <div id="port-table-container" class="dash-table-container my-4"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
